# Debug
DEBUG=true

# Database
POSTGRES_PASSWORD="postgres"
POSTGRES_USER="postgres"
POSTGRES_DB="postgres"

POSTGRES_DSN=postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@127.0.0.1:5432/${DEV_DB_NAME}
SQL_DEBUG=false

# Redis
REDIS_DSN=redis://127.0.0.1:6379/0

# Define bot-specific variables below
